<% if @photo.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

    <ul>
    <% @photo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if f.object.image.file? %>
  <%= image_tag f.object.image.url(:thumb) %>
<% else %>
  <div class="form_field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
<% end %>
<div class="form_field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="form_field">
  <%= f.label :extended_description %>
  <%= f.text_area :extended_description %>
</div>


<div class="actions">
  <%= f.submit %>
</div>
